<div class="col-md-12 topPadding table-responsive">
  <div class="row">
    <label class="col-md-1" for="projectName">Project:</label>
    <div class="col-md-4">
      <input type="text" readonly class="form-control" id="projectName" [(ngModel)]="searchText" placeholder="Select Project" name="projectName">              
    </div>            
    <button type="button" class="col-md-2 btn btn-sm btn-outline-primary" (click)="searchProject()">Search</button>    
  </div> 
  <br> 
  <app-toolbar 
        [hideSearch]="true"
        [columns]="toolbarColumns" 
        (search)="searchText = $event" 
        (sortBy)="sortBy = $event">
  </app-toolbar>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task</th>
        <th>Parent</th>
        <th>Priority</th>
        <th>Start</th>
        <th>End</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks |
                  search : { searchText: searchText, propertyName: searchBy } | 
                  orderBy: { property: sortBy, direction: sortDirection }">
        <td>{{task.taskName}}</td>
        <td>{{task.parentTaskName}}</td>
        <td>{{task.priority}}</td>
        <td>{{task.startDate | date:'dd/MM/yyyy'}}</td>
        <td>{{task.endDate | date:'dd/MM/yyyy'}}</td>
        <td *ngIf="!selectMode">
          <button type="button" class="btn btn-primary" (click)="editTask(task)">Edit</button>
          <button type="button" class="btn btn-danger leftMargin" (click)="endTask(task)">End Task</button>
        </td>
        <td *ngIf="selectMode">
            <button type="button" class="btn btn-primary" (click)="selectTask(task)">Select</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>