<div class="col-md-12 topPadding table-responsive">   
    <app-toolbar 
      [columns]="toolbarColumns" 
      (search)="searchText = $event" 
      (sortBy)="sortBy = $event">
    </app-toolbar>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Employee Id</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | searchUser : searchText | orderBy: { property: sortBy, direction: sortDirection }">
          <td>{{user.employeeId}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td *ngIf="!selectMode">
            <button type="button" class="btn btn-primary" (click)="editUser(user)">Edit</button>
            <button type="button" class="btn btn-danger leftMargin" (click)="deleteUser(user)">Delete</button>
          </td>
          <td *ngIf="selectMode">
            <button type="button" class="btn btn-primary" (click)="selectUser(user)">Select</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>