<div class="col-md-12 topPadding table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Employee Id</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.employeeId}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="editUser(user)">Edit</button>
            <button type="button" class="btn btn-danger leftMargin" (click)="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>